# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ansible
*.retry
.vault_pass
*.swp
*~

# Testing
tests/output/
tests/inventory/
.molecule/
.cache/

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environments
.env
.venv
env/
venv/
