{% include 'system.j2' %}
{% include 'time.j2' %}
{% include 'anycast_no_icmp_redirect.j2' %}
{% include 'vrf.j2' %}
{% include 'vlan.j2' %}
{% include 'evpn.j2' %}
{% include 'stp.j2' %}
{% include 'int_mgmt.j2' %}
{% include 'int_lag.j2' %}
{% include 'int_phys.j2' %}
{% include 'int_loopback.j2' %}
{% include 'int_vlan.j2' %}
{% include 'int_vxlan.j2' %}
{% include 'vsx.j2' %}
{% include 'ospf.j2' %}
{% include 'gateway.j2' %}
{% include 'https.j2' %}
