
{% if (device_roles | default([]) | first | lower) == 'access-switch' %}
{%   set _primary_cidr = interfaces | default([])
     | map(attribute='ip_addresses') | flatten
     | selectattr('address', 'match', primary_ip4 ~ '/')
     | map(attribute='address') | first | default(primary_ip4) %}
ip route 0.0.0.0/0 {{ _primary_cidr | ansible.utils.ipaddr('first_usable') }}
{% endif %}
!
