
https-server vrf mgmt
{% for vrf in interfaces | default([]) | get_server_vrfs(primary_ip4 | default(''), device_roles | default([])) %}
https-server vrf {{ vrf }}
{% endfor %}
https-server rest access-mode read-write
