
{% for intf in interfaces %}
{%   if 'loopback' in intf.name %}
interface {{ intf.name }}
{%     if intf.description != '' %}
   description {{ intf.description }}
{%     endif %}
{%     if intf.vrf.id is defined %}
{%       if intf.ip_addresses | selectattr('family.label', 'equalto', 'IPv4') | list | length > 0 %}
   vrf attach {{ intf.vrf.name | replace("Global", "default" ) }}
{%       endif %}
{%     endif %}
{%     for address in intf.ip_addresses %}
{%       if address.family.label == "IPv4" %}
   ip address {{ address.address }}
{%       endif %}
{%       if address.family.label == "IPv6" %}
   ipv6 address {{ address.address }}
{%       endif %}
{%     endfor %}
{%     if intf.custom_fields.if_ip_ospf_1_area != none %}
   ip ospf 1 area {{ intf.custom_fields.if_ip_ospf_1_area }}
{%       set _vrf = (intf.vrf.name | default('default')) | replace('Global', 'default') %}
{%       set _k = (ospf_auth_keys | default({})).get(_vrf) %}
{%       if _k is mapping and _k.get('secret') %}
   ip ospf authentication message-digest
   ip ospf message-digest-key {{ ospf_auth_key_id | default(1) }} md5 {{ 'ciphertext ' if _k.get('encrypted') else 'plaintext ' }}{{ _k.secret }}
{%       elif _k is string and _k | length > 0 %}
   ip ospf authentication message-digest
   ip ospf message-digest-key {{ ospf_auth_key_id | default(1) }} md5 plaintext {{ _k }}
{%       endif %}
{%     endif %}
{%   endif %}
{% endfor %}
!
