
{% if custom_fields.device_evpn | default(false) | bool %}
{% if template_vlans is defined and template_vlans | length > 0 %}
interface vxlan 1
    source ip {{ custom_fields.device_vxlan_source_ip }}
    no shutdown
{%   for vlan in template_vlans %}
{%     if vlan.l2vpn_termination.l2vpn is defined %}
    vni {{ vlan.l2vpn_termination.l2vpn.identifier }}
        vlan {{ vlan.vid }}
{%     endif %}
{%   endfor %}
!
{% endif %}
{% endif %}
