
{% if template_vrfs is defined and template_vrfs | length > 0 %}
{%   for vrf_name in template_vrfs %}
vrf {{ vrf_name }}
{%     if template_vrfs_details[vrf_name].rd is defined and template_vrfs_details[vrf_name].rd != none %}
    rd {{ template_vrfs_details[vrf_name].rd }}
{%     endif %}
{%     set export_targets = template_vrfs_details[vrf_name].export_targets | default([]) %}
{%     set import_targets = template_vrfs_details[vrf_name].import_targets | default([]) %}
{%     if export_targets | length > 0 or import_targets | length > 0 %}
{#       address_family is a select custom field: bare string on NetBox <= 4.6,
          {value, label} dict on 4.7+; nb_choice_value accepts both. #}
{%       set rt_by_af = {'ipv4': {'export': [], 'import': []}, 'ipv6': {'export': [], 'import': []}} %}
{%       for rt_dir in ['export', 'import'] %}
{%         for rt in (export_targets if rt_dir == 'export' else import_targets) %}
{%           set rt_af = (rt.custom_fields | default({})).address_family | default(none) | nb_choice_value %}
{%           if rt_af in rt_by_af %}
{%             set _ = rt_by_af[rt_af][rt_dir].append(rt.name) %}
{%           endif %}
{%         endfor %}
{%       endfor %}
{%       set ipv4_exports = rt_by_af['ipv4']['export'] %}
{%       set ipv4_imports = rt_by_af['ipv4']['import'] %}
{%       if ipv4_exports | length > 0 or ipv4_imports | length > 0 %}
    address-family ipv4 unicast
{%         for rt in ipv4_exports %}
        route-target export {{ rt }}
{%         endfor %}
{%         for rt in ipv4_imports %}
        route-target import {{ rt }}
{%         endfor %}
    exit-address-family
{%       endif %}
{%       set ipv6_exports = rt_by_af['ipv6']['export'] %}
{%       set ipv6_imports = rt_by_af['ipv6']['import'] %}
{%       if ipv6_exports | length > 0 or ipv6_imports | length > 0 %}
    address-family ipv6 unicast
{%         for rt in ipv6_exports %}
        route-target export {{ rt }}
{%         endfor %}
{%         for rt in ipv6_imports %}
        route-target import {{ rt }}
{%         endfor %}
    exit-address-family
{%       endif %}
{%     endif %}
{%   endfor %}
!
{% endif %}
